@page
@model MusicReviewsWebsite.Pages.Artists.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.AlsoKnownAs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.AlsoKnownAs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist.Albums)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Release Date</th>
                </tr>
                @foreach (var item in Model.Artist.Albums)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Artist.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
