@page
@model MusicReviewsWebsite.Pages.Albums.SearchModel
@{
}

<h2>Albums</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Cover
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Albums[0].Artists)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Albums[0].Name)
            </th>
            <th>
                <a asp-page="./Search" asp-route-searchTerm="@Model.SearchTerm" asp-route-sortOrder="@Model.DateSort">
                @Html.DisplayNameFor(model => model.Albums[0].ReleaseDate)
                </a>
            </th>
            <th>
                <a asp-page="./Search" asp-route-searchTerm="@Model.SearchTerm" asp-route-sortOrder="@Model.RatingSort">
                Rating
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Albums) {
        <tr>
            <td>
                <img src="~/@item.CoverPath" style="height:100px;"/>
            </td>
            <td>
                @item.GetArtists()
            </td>
            <td>
                <a asp-page="/Albums/Profile" asp-route-id=@item.Id>@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @item.GetRating()
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.Albums.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Albums.HasNextPage ? "disabled" : "";
}

<a asp-page="./Search"
   asp-route-searchTerm="@Model.SearchTerm"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Albums.PageIndex - 1)"
   asp-route-customOrder="@Model.CustomOrder"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Search"
   asp-route-searchTerm="@Model.SearchTerm"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Albums.PageIndex + 1)"
   asp-route-customOrder="@Model.CustomOrder"
   class="btn btn-primary @nextDisabled">
    Next
</a>